* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: black;
}

header {
    background-color: #1d1b1b;
    padding: 10px 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-family: "Comfortaa", sans-serif;
}

.nav-links {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bold;
}

.navbar a:hover {
    color: #af8329; 
}

.coding {
    margin: 0px 0 0 20px; /* Adiciona margem superior e margem esquerda */
    text-align: left; /* Alinha o texto à esquerda */
}

.coding a {
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bold;
    margin: 50px 0 0 20px; /* Adiciona margem superior e margem esquerda */
    text-align: left; /* Alinha o texto à esquerda */
}

.coding a:hover {
    color: #af8329; 
}

.about-me{
    background-image: url(/src/assets/photos/image111.png);
    background-position: center; /* Centraliza a imagem */
    background-size: cover; /* Redimensiona a imagem para cobrir toda a área do elemento */
    
}
.p1{
    text-align: center;
    justify-content: center;
    padding: 5%;
    font-family: "Anton", sans-serif;
    color: rgb(219, 143, 36);



}

.paragrafo{
    text-align: center;
    justify-content: center;
}
    


.conteudo-principal{
  width: 400px;
  height: 300px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 7%;

}


.conteudo-secundario{
    width: 400px;
    height: 300px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    border-radius: 7%;
    
  
  }
 .about1{
    text-align: right;
 }

  
